<ng-container *ngIf="isLoading">
  <app-loader />
</ng-container>
<ng-container *ngIf="!isLoading">
  <ng-container *ngIf="recipes?.length === 0">
    <h1 class="mainTitle">There aren't any recipes to browse yet...</h1>
  </ng-container>

  <h1 *ngIf="recipes?.length !== 0" class="mainTitle">Browse recipes</h1>
  <section *ngIf="recipes?.length !== 0" class="recipeWrapper">
    <div *ngFor="let recipe of recipes" class="card-container">
      <div class="card u-clearfix">
        <div class="card-body">
          <p class="categoryWrap">
            <span class="card-author subtle">{{ recipe.owner.username }}</span>
            <span class="card-category subtle">{{ recipe.category }}</span>
          </p>
          <h2 class="card-title">{{ recipe.title | slice : 10 }}</h2>
          <span class="card-description subtle">
            {{ recipe.directions[0] | slice : 250 }}
          </span>

          <div routerLink="/recipes/{{ recipe._id }}" class="card-read">
            Read
          </div>
        </div>
        <img
          src="{{ recipe.imageURL }}"
          alt="{{ recipe.title }}"
          class="card-media"
        />
      </div>
    </div>
  </section>
</ng-container>
