*,
*:before,
*:after {
  box-sizing: inherit;
}

.mainTitle {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2em;
  color: #637498;
  width: 100%;
  text-align: center;
  letter-spacing: .1em;
  font-size: 32pt;
}

.recipeWrapper {
  padding: 0;
  margin: 0 5em;
  display: flex;
  row-gap: 10px;
  column-gap: 2em;
}
.recipeWrapper > * {
  flex: 1 1 200px;
}

.u-clearfix:before,
.u-clearfix:after {
  content: "";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.subtle {
  color: #aaa;
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 580px;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.card-body {
  width: 250px;
  float: left;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-radius: 5%;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  padding: 10px 15px;
}

.card-author {
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.categoryWrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.card-category {
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
  text-align: right;
}

.card-title {
  font-size: 38px;
  font-weight: 300;
  line-height: 60px;
  margin: 20px 0;
  color: #3e4960;
  text-transform: upper;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}

.card-read {
  cursor: pointer;
  font-size: 12pt;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:hover {
  font-size: 13pt;
  color: #586683;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 65%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  float: right;
  width: 240px;
  height: 361px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
