<ng-container *ngIf="isLoading">
  <app-loader />
</ng-container>
<ng-container *ngIf="!isLoading">
  <section class="recipeWrapper">
    <div *ngFor="let recipe of recipes" class="card-container">
      <div class="card u-clearfix">
        <div class="card-body">
          <p class="categoryWrap">
            <span class="card-author subtle">{{ recipe.owner.username }}</span>
            <span class="card-category subtle">{{ recipe.category }}</span>
          </p>
          <h2 class="card-title">{{ recipe.title | slice : 10 }}</h2>
          <span class="card-description subtle">
            {{ recipe.directions[0] | slice : 250 }}
          </span>

          <div routerLink="/recipes/details/{{ recipe._id }}" class="card-read">
            Read
          </div>
        </div>
        <img
          src="{{ recipe.imageURL }}"
          alt="{{ recipe.title }}"
          class="card-media"
        />
      </div>
    </div>
  </section>
</ng-container>
